<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DataFit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style type="text/css">
      .bg-cover {
          background-image: url('../static/ML.jpg');
      }
  </style>
  </head>
<body>
  <div class="jumbotron jumbotron bg-cover text-center" >
    <div class="overlay"></div>
    <div class="container"></div>
  </div>
  <div>
      <ul class="nav nav-pills">
             <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('visualization')}}">Visualization</a>
            </li>
            <li class="nav-item">
            <a class="nav-link " href="{{url_for('projectlc')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('about')}}">The Team</a>
          </li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1 class="display-3">DataFit Project</h1>
        <p class="lead">The DataFit team built tool to analyze a user given data set, perform supervised learning and display predictive models. 
          This utility will be a handy tool in the hands of targeted user personas such as: Analyst, Strategist, Decision Makers, etc.

          <br />&#128504; We analyzed e-commerce data of Industry-wide apparel orders and its specifications. Our website was built in HTML, Bootstrap 4, utilizing JS, JQuery and AJAX for navigation controls. Descriptive visualizations were built in Tableau.
          <br />&#128504; We prioritized our modeling design to provide a working prototype of a single use case, that enables upload of custom data and displays an evaluation
          <br />&#128504; We plan to provide many  more useful statistical models for predictive analysis - the NEXT milestone on our roadmap!
        
        
        </p>
    <div>
    <div class="row" style="padding-top: 30px">
        <div class="col-md-6">
                <div class="card mb-3">
                        <h3 class="card-header">Supriya Satpathy</h3>
                        <div class="card-body">
                          <h5 class="card-title">Marketing Communications Director</h5>
                          <h6 class="card-subtitle text-muted">                         
                          <h6 class="card-subtitle text-muted">Project Vision/Communication/Full Stack developer
                        </div>
                        <img class = "img-thumbnail" style="height: 50%; width: 50%; display: block;" src="../static/supriya.jpg" width="200" height="200" alt="" title="" />
                        <div class="card-body">
                            <p class="card-text">An excellent communicator, who takes care in articulating her thought process, as well as assessing the work of others.</p>
                        </div>
                        <div class="card-body">
                          <a href="https://github.com/supriya0115" class="card-link">GitHub Portfolio link</a>
                          <a href="ZZZZZ supriya linked in" class="card-link">LinkedIn link</a>
                        </div>

                </div>
        </div>
        <div class="col-md-6">
                <div class="card mb-3">
                        <h3 class="card-header">Priya Venkataraman</h3>
                        <div class="card-body">
                          <h5 class="card-title">Pricipal Design Engineer</h5>
                          <h6 class="card-subtitle text-muted">UI/Code implementations at multiple project levels</h6>
                        </div>
                        <img class = "img-thumbnail" style="height: 50%; width: 50%; display: block;" src="../static/PVenkataraman.jpg" width="200" height="200" alt="" title="" />
                        <div class="card-body">
                          <p class="card-text">A curious coder, who highlights what didn't go so well, pushes boundaries and knows designing a great system needs hard work from extremely smart people from 
                            many disciplines.
                          </p>
                        </div>
                        <div class="card-body">
                          <a href="https://github.com/pvenk14" class="card-link">GitHub Portfolio link</a>
                          <a href="https://www.linkedin.com/in/priyadarshini-venkataraman-csm%C2%AE-b5304111/" class="card-link">LinkedIn link</a>
                        </div>

                </div>
        </div>
        <div class="col-md-6">
                <div class="card mb-3">
                        <h3 class="card-header">Sivakumar Venkatachalam</h3>
                        <div class="card-body">
                          <h5 class="card-title">Chief Technologist</h5>
                          <h6 class="card-subtitle text-muted">Data Architect/Back End Development</h6>
                        </div>
                        <img class = "img-thumbnail" style="height: 50%; width: 50%; display: block;" src="../static/siva.jpg" width="200" height="200" alt="" title="" />
                        <div class="card-body">
                            <p class="card-text">A technologist, who knows what you do doesn’t define you, an understanding of how it all fits all together needs deligence and hard-work.
                            </p>
                        </div>
                        <div class="card-body">
                          <a href="https://github.com/vsivakumar9" class="card-link">GitHub Portfolio link</a>
                          <a href="ZZZZZ siva linkedin" class="card-link">LinkedIn link</a>
                        </div>

                </div>
        </div>
        <div class="col-md-6">
                <div class="card mb-3">
                        <h3 class="card-header">Meghana Raje</h3>
                        <div class="card-body">
                          <h5 class="card-title">Strategy Officer and Project Vision Implementation</h5>
                          <h6 class="card-subtitle text-muted">Back End processes/Visualizations</h6>
                        </div>
                        <img class = "img-thumbnail" style="height: 50%; width: 50%; display: block;" src="../static/Meghanavmr.jpg" width="200" height="200" alt="" title="" />
                        <div class="card-body">
                          <p class="card-text">She knows well, great teams are better than all-star players, no matter how great someone's idea, it can be improved 
                             upon, through collaboration.</p>
                        </div>
                        <div class="card-body">
                          <a href="https://github.com/Meghanavmr" class="card-link">GitHub Portfolio link</a>
                          <a href="ZZZZZ Meghana linked in" class="card-link">LinkedIn link</a>
                        </div>

                </div>
        </div>


              
            </div>
    </div>
    </div>
    <div>
      <!-- <footer class="footer" style="padding-top: 30px">
        <span class="bottom">The information presented here was created for educational purposes only © Copyright Datafit-Owners for Bootcamp 2018.</span>
      </footer> -->
      <footer class="footer" style="padding-top: 30px">
        <p>© Copyright owners Datafit for Bootcamp 2018. The information presented here was created for educational purposes only </p>
      </footer>
    </div>
  </body>
  
</html>
